/notebooks/.ipynb_checkpoints/topographic_map_irkutsk-checkpoint.ipynb
/.idea/vcs.xml
/.idea/topographic_map.iml
/notebooks/rectangle_irk.csv
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/notebooks/.ipynb_checkpoints/config-checkpoint.json
/notebooks/.ipynb_checkpoints/rectangle_irk-checkpoint.csv
